


/*<!--WEBǰ�˹���ʦ-->*/
section{
    background: #23acb6;
    margin: 0;
    padding: 0 100px 16px 100px;
    text-align: center;
    overflow: hidden;
    display: block;
}
section h2{
    color: #000;
    background: none;
    text-align: left;
    margin-top: 30px;
    font-size: 1.6em;
    margin-bottom: 0.7em;
    font-weight: 500;
}
section .row{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: -15px;
    margin-left: -15px;
    float: none;
}
.web-section{
    width: 100%;
    background: #fc9326;
    margin: 0;
    text-align: center;
    overflow: hidden;
    margin-top: 80px;
}
.web-section .web-row{
    width: 88%;
    height: 28.6vw;
    margin:40px auto 80px auto;
}
.web-section .web-row .web-left{
    width: 45%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.web-section .web-row .web-left h1{
    font-size: 2vw;
    font-weight: 400;
}
.web-section .web-row .web-left .featurepart{
    margin-top: -20px;
}
.web-section .web-row .web-left .featurepart .feature{
    background: none;
    width: 33%;
    text-align: center;
    float: left;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}
.web-section .web-row .web-left .textcopy{
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: left;
    height: 100%;
}
.web-section .web-row .web-left .regnow{
    text-align: left;
    margin-top: 2em;
    position: relative;
    width: 240px;
}
.web-section .web-row .web-left .regnow .btn{
    background: #f92c57;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-size: 1.6em;
    color: #fff;
    display: inline-block;
    padding: 10px 5px 4px 5px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
}
.web-section .web-row .web-right{
    width: 45%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.web-section .web-row .web-right .pc{
    background: url(http://www.1ke.co/themes/1ke_3/img/frontend/pc.png)no-repeat;
    width: 557px;
    height: 496px;
    padding: 50px 48px;
}
.web-section .web-row .web-right .pc pre{
    font-size: 14px;
    padding: 10px;
    display: block;
    margin: 0 0 10px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 79.5%;
}




.web-hire .web-companys ul li{
    float: left;
    position: relative;
    min-height: 1px;
    max-width: none;
    max-height: none;
    line-height: 24px;
    overflow: hidden;
    width: 25%;
}
.web-hire .web-companys ul li span{
    color: #fc9326;
    font-size: 1.9em;
    padding-top: 6px;
    float: left;
}
.web-hire .web-companys ul li a{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.web-hire .web-companys ul li .salery{
    color: #fff;
    font-size: 0.7em;
    text-align: left;
    /*line-height: 1.1em;*/
    margin-top: 0;
    float: left;
}




.teacher .tow ul li{
    margin-bottom: 40px;
    text-align: left;
    width: 48%;
    float: left;position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.teacher .tow ul li img{
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    display: block;
    float: left;
    margin-right: 20px;
}
.teacher .partner{
    margin-bottom: 40px;
    margin-top: -40px;
}
.teacher .partner img{
    width: 100%;
}


.teach ul li{
    float: left;
    margin-right: 4%;
    margin-bottom: 20px;
}
.teach ul li img{
    max-height: 60px;
}



.syllabus .classtime{
    margin-left: 0.6em;
    text-align: left;
}
.syllabus .classtime .label{
    /*margin-left: -10px;*/
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-right: 0;
    display: inline-block;
    padding: .2em 0 .3em;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.syllabus .classtime .value{
    font-size: 13px;
}
.syllabus .classtable{
    margin-left: 0.6em;
}
.syllabus .classtable table{
    text-align: left;
    margin-top: 20px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
.syllabus .classtable table tbody tr td{
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    font-size:13px;
}
.syllabus .classtable table tbody tr td p{
    margin: 0 0 10px;
    font-size: 12px;
}
.syllabus .classtable table tbody tr td p strong{
    font-size: 0.8vw;
    font-weight: 500;
}

.works .ims .img {
    margin-bottom: 2vw;
    width: 45%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}
.works .ims .img img{
    width: 90%;
    margin:0 10%;
}
.works .ims h3{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    float: left;
    width: 100%;
    text-align: center;
}


.register{
    background: #e8f8f8;
    padding-top: 1em;
    margin: 0;
    font-size: 2.4em;
    text-align: center;
    overflow: hidden;
}
.register a{
    background: #f92c57;
    border-radius: 2px;
    font-size: 16px;
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 40px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
}


.qrcode h3{
    margin-top: 20px;
    color: inherit;
    padding-top: 20px;
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 500;
}


@media screen and (max-width:1000px){
    .web-left{
        width: 80%!important;
    }
}












































